<!--
    @see https://code.naturkundemuseum.berlin/Alvaro.Ortiz/Pinguine/tree/master/docs
  -->
<link rel="stylesheet" type="text/css" href="/modules/custom/hip_quiz/css/quiz.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/modules/custom/hip_quiz/js/utils.js"></script>
<script src="/modules/custom/hip_quiz/js/Observer.js"></script>
<script src="/modules/custom/hip_quiz/js/Observable.js"></script>
<script src="/modules/custom/hip_quiz/js/Progress.js"></script>
<script src="/modules/custom/hip_quiz/js/Question.js"></script>
<script src="/modules/custom/hip_quiz/js/Answer.js"></script>
<script src="/modules/custom/hip_quiz/js/QuizModel.js"></script>

<script src="/modules/custom/hip_quiz/js/wavesurfer.js"></script>
<script src="/modules/custom/hip_quiz/js/wavesurfer.regions.js"></script>
<script src="/modules/custom/hip_quiz/js/hip.wavesurfer.spectrogram.js"></script>
<script src="/modules/custom/hip_quiz/js/player_actions.js"></script>
<script src="/modules/custom/hip_quiz/js/ProgressView.js"></script>
<script src="/modules/custom/hip_quiz/js/QuizView.js"></script>

<script src="/modules/custom/hip_quiz/js/QuizController.js"></script>


<script language="javascript">
  var controller; // controller should accessible for the page buttons
  
  // Start the game when button is pressed
  document.addEventListener('DOMContentLoaded', function() {
      try {
	  var model = new QuizModel();
	  var view = new QuizView();
	  var progressView = new ProgressView();
	  model.addObserver(view);
	  model.addObserver(progressView);
	  controller = new QuizController(model, view);
	  controller.loadConfiguration("/modules/custom/hip_quiz/js/questionnaire.json");
	  model.reset();
	  button = document.getElementById("start_quiz");
	  button.addEventListener("click", function() {
	      controller.initialize();
	      controller.launch();
	  });

      } catch(err) {
  	  console.log(err);
  	  document.getElementById("messages").innerHTML += "Script error";
      }
  });
</script>

<div class="wrapper">
  <div id="game_header" class="row">
    <div id="header_margin_left" class="column">&nbsp;</div>    
    <div id="header_progress" class="column"></div>    
    <div id="header_margin_right" class="column"></div>    
  </div>
  <div class="row">
    <div id="margin_left" class="column"></div>    
    <div id="left" class="column"></div>
    <div id="right" class="column"></div>
    <div id="margin_right" class="column"></div>    
  </div>
  <div id="footer" class="footer row">
  </div>
</div>
<div id="messages"></div>
