<!--
    @see https://code.naturkundemuseum.berlin/Alvaro.Ortiz/Pinguine/tree/master/docs
  -->
<link rel="stylesheet" type="text/css" href="/modules/custom/hip_quiz/css/quiz.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/modules/custom/hip_quiz/js/Observer.js"></script>
<script src="/modules/custom/hip_quiz/js/Observable.js"></script>
<script src="/modules/custom/hip_quiz/js/Progress.js"></script>
<script src="/modules/custom/hip_quiz/js/Question.js"></script>
<script src="/modules/custom/hip_quiz/js/Answer.js"></script>
<script src="/modules/custom/hip_quiz/js/QuizModel.js"></script>
<script src="/modules/custom/hip_quiz/js/QuizView.js"></script>
<script src="/modules/custom/hip_quiz/js/QuizController.js"></script>

<script language="javascript">
  // Start the game when button is pressed
  document.addEventListener('DOMContentLoaded', function() {
      try {
	  var model = new QuizModel();
	  var view = new QuizView();
	  model.addObserver(view);
	  var controller = new QuizController(model, view);
	  controller.loadConfiguration("/modules/custom/hip_quiz/js/questionnaire.json");
	  model.reset();
	  button = document.getElementById("start_quiz");
	  button.addEventListener("click", function() {
	      console.log(controller);
	  });

      } catch(err) {
  	  console.log(err);
  	  document.getElementById("messages").innerHTML += "Script error";
      }
  });
</script>


<div class="wrapper">
  <div id="instructions">
  </div>

  <div id="play">
  </div>

  <div id="messages"></div>
</div>
