.wrapper {
    background:	#fff;
    color:	#333;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 1px rgba(0,0,0,0.12);
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    font-size: 12pt;
    padding-top: .5em;
    padding-bottom: 3em;
}

.wrapper h1 {
    font-size: 12pt;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    margin-bottom: 2em;
}

/*header*/
#game_header {
    height: 50px;
}

#margin_left, #header_margin_left {
    flex: 0 0 10%;
}

#close {
    margin-top: 1em;
    margin-left: 1em;
}

#in_a_row {
    color:#7da30b;
    letter-spacing: .1em;
    font-size: 10pt;
    height: 1.4em;
}

#header_progress {
    flex: 0 0 80%;
    height: 50px;
}

#header_progress_fill {
    height: 20px;
    background-color:#ddd;
}

#header_progress_current {
    height: 20px;
    background-color: green;
    width: 0;
}

#margin_right, #header_margin_right {
    flex: 0 0 10%;
}

#header_progress_msg {
    color: #999;
    letter-spacing: .1em;
    font-size: 10pt;
    text-align: right;
    height: 1.4em;    
    margin-top: 1.5em;
    margin-right: 1em;
}

/*body*/
#left {
    margin-top: 5em;
    flex: 0 0 20%;
}

#right {
    padding-left: 5em;
    flex: 0 0 60%;
}


.wrapper p {
    text-align: left;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    display: inline-block;
    vertical-align: middle;
    color:#fff;
    border-color:#7da30b;
    background-color:#7da30b;
    background-image: none;
    margin-top: 4px;
    margin-bottom: 0px;
    padding: .7em 2.5em .7em 2.5em;
    text-transform: uppercase;
    letter-spacing: .125em;
    font-size: 12pt;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    border-radius: .8em;
    opacity: 80%;
}

.button:hover {
    color:#fff;
    background-color:#7da30b;
    opacity: 100%;
}

/* question */
h1.question {
    margin-bottom: 0px;
    text-align: center:
}

/* Play audio file */

.playButton {
    border: none;
    background-color:transparent;
    opacity: 80%;
    cursor: pointer;
}

.playButton:hover {
    opacity: 100%;
}

.playButton svg {
    width: 120px;
}

/* Image buttons  */
.imgButton {
    width: 170px;
    border-radius: 3em;
    opacity: 90%;
    cursor: pointer;
}

.imgButton:hover {
    opacity: 100%;
}

.answ_button {
    font-weight: 700;
    opacity: 50%;
    max-width: 160px;
    text-align: center;
    padding: .4em 0 .4em 0;
    border: 3px solid #999;
    border-radius: 15px;
    margin-left: 5px;
    cursor: pointer;
}

.answ_button:hover {
    opacity: 100%;
}

.answ_left {
    margin-top: 5em;
    flex: 0 0 50%;
}

.answ_right {
    margin-top: 5em;
    flex: 0 0 50%;
}

/* Close button */
.icon {
    width: 30px;
    height: 30px;
    opacity: 60%;
    cursor: pointer;
}

.icon:hover {
    opacity: 100%;
}

@media (max-width: 375px) {
    .wrapper {
	padding: 0.5em;
    }
}

@media (min-width: 375px) {
    .wrapper {
	padding: .5em;
    }
}
